[Gmail]
TokenFile = "token.json"
CredentialsFile = "credentials.json"
User = "me"
RetrieveConditions = [
  "is:unread -label:INBOX"
]
DeleteConditions = [
  "-is:unread older_than:1m label:news"
]

[Headline]
Limit = 10
OutputFile = "gmail-headline.jsonl"

